html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.main-block {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*overflow: scroll;*/
  flex-direction: column;
}

.level,
.player-panel,
.game {
  width: 30%;
  padding: 15px 15px 5px;
}

.player-panel,
.game {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.level,
.player-panel {
  background-color: gainsboro;
}

.game {
  background-color: #95caff;
  position: relative;
}

.level-game {
  border: none;
  background-color: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: end;
}

.icon {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 80%;
}

.icon>div {
  background-color: #fcfff2;
  width: 50%;
  padding: 5px 10px;
  display: flex;
  height: 100%;
  margin: 3px;
  justify-content: space-between;
}

.icon p {
  margin: 1px;
  font-weight: bold;
  font-size: 18px;
}

.player-panel>p {
  margin: 10px;
  font-weight: bold;
  text-align: center;
  text-size: 16px;
}

.game table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

td {
  width: 2em;
  height: 2em;
  text-align: center;
  border-right: 5px solid rgba(39,39,39,0.81);
  border-bottom: 5px solid rgba(39,39,39,0.81);
  padding: 0;
  font-size: 50px;
  font-weight: bold;
}

.none-border {
  border-bottom: none;
}

.none-border-r {
  border-right: none;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
}

.container-buttons button {
  display: flex;
  position: relative;
  margin: 4px;
}

.container-buttons button {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: gainsboro #000 gainsboro;
  border-radius: 6px;
  background: gainsboro;
  font-size: 16px;
  font-weight: bold;
}

.container-buttons button:hover {
  background: #3a84ff;
}

.activePlayer {
  color: crimson;
}

.cross-line {
  display: none;
  position: absolute;
  width: 20em;
  height: 5px;
  background-color: #ff1e00;
}
